*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Helvetica Neue", Helvetica;
  background: #f4f4f4;
  font-size: 62, 5%;
  height: 100vh;
}
