<main class="main-container">
  <div class="title-contain">
    <h1>Bienvenue sur mon Portfolio</h1>
    <p>Je me presente moi c'est Jacques caradi développeur full stack js</p>
  </div>

  <div class="medias-contain">
    <a href="https://github.com/littleFootDev" target="blanck">
      <div class="media media1">
        <img
          src="../../assets/images/github.png"
          alt="github icone"
          class="icone-medias"
        />
      </div>
    </a>
    <a href="https://www.linkedin.com/in/jacques-caradi/" target="blanck">
      <div class="media media2">
        <img
          src="../../assets/images/linkedin.png"
          alt="linkedin icone"
          class="icone-medias"
        />
      </div>
    </a>
    <a href="../../assets/fichier/cv-jacques-caradi .pdf">
      <div class="media media1 cv">CV</div>
    </a>
  </div>
</main>
